/* 基本布局样式 */
.dialog {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    position: relative;
}

/* 主按钮样式 */
.assemble-button {
    width: 12.5%;
    height: 12%;
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    background: linear-gradient(to bottom, #7892c2 5%, #476e9e 100%);
    background-color: #7892c2;
    border: 1px solid #4e6096;
    border-radius: 10px;
    color: #ffffff;
    padding: 12px 37px;
    box-shadow: 0px 0px 0px 2px #9fb4f2;
    cursor: pointer;
    z-index: 12;
    text-shadow: 0px 1px 0px #283966;
}

.assemble-button:hover {
    background: linear-gradient(to bottom, #476e9e 5%, #7892c2 100%);
    background-color: #476e9e;
}

/* 对话框主体样式 */
.custom-modal {
    width: 80%;
    max-width: 1000px;
    height: 30%;
    max-height: 80%;
    background-color: white;
    position: fixed;
    bottom: 5%;
    left: 50%;
    transform: translateX(-50%);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
    z-index: 12;
    display: flex;
    align-items: flex-start;
}

/* 对话框内容样式 */
.custom-modal-content {
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
    margin: auto;
    color: darkgreen;
    width: 95%;
    padding: 0 5%;
    flex-direction: column;
}

/* 对话框中的图片样式 */
.custom-modal-image {
    width: 20%;
    height: auto;
    position: absolute;
    left: -10%;
    top: -30%;
    transform: scale(1.5);
    z-index: 13;
}

/* 对话框按钮样式 */
.custom-modal-button,
.custom-modal-button-prev {
    width: 6rem;
    height: 2.8rem;
    position: absolute;
    font-size: 1.3rem;
    font-weight: bold;
    border: 2px solid #2e3730;
    color: #2e3730;
    cursor: pointer;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 1rem;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
}

.custom-modal-button {
    right: 1rem;
}

.custom-modal-button-prev {
    right: 4rem;
}

.custom-modal-countdown {
    text-align: center;
    font-size: 2rem;
    color: darkgreen;
    position: absolute;
    bottom: 15px;
    left: 40%;
}

.custom-modal-title {
    display: none;
}

@media screen and (max-width: 1024px) {
    .custom-modal {
        width: 90vw;
        height: 40vh;
        bottom: 5vh;
    }

    .custom-modal-image {
        width: 20vw;
        left: -5vw;
        top: -20vh;
        transform: none;
    }

    .custom-modal-content {
        font-size: 3vw;
        padding: 0 8vw;
    }

    .custom-modal-button,
    .custom-modal-button-prev {
        width: 15vw;
        height: 7vh;
        font-size: 1.5vw;
        bottom: 2vh;
    }

    .assemble-button {
        width: 20vw;
        height: 20vh;
        font-size: 1.5vw;
    }
}


@media screen and (max-width: 768px) {
    .custom-modal {
        width: 90vw;
        height: 40vh;
        bottom: 5vh;
    }

    .custom-modal-image {
        width: 21vw;
        left: -5vw;
        top: -40%;
        transform: none;
    }

    .custom-modal-content {
        font-size: 3vw;
        padding: 0 8vw;
    }

    .custom-modal-button,
    .custom-modal-button-prev {
        width: 15vw;
        height: 7vh;
        font-size: 2vw;
        bottom: 2vh;
    }

    .assemble-button {
        width: 25vw;
        height: 20vh;
        font-size: 2vw;
    }
}


@media screen and (max-width: 480px) {
    .custom-modal {
        width: 95vw;
        height: 45vh;
        bottom: 5vh;
    }

    .custom-modal-image {
        width: 30vw;
        left: -5vw;
        top: -20vh;
        transform: none;
    }

    .custom-modal-content {
        font-size: 3vw;
        padding: 0 5vw;
    }

    .custom-modal-button,
    .custom-modal-button-prev {
        width: 20vw;
        height: 8vh;
        font-size: 3vw;
        bottom: 2vh;
    }

    .assemble-button {
        width: 30vw;
        height: 15vh;
        font-size: 3vw;
    }
}