/* 背景和容器樣式 */
.container1 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
    background: none;
    color: #fff;
    text-align: center;
}

/* 按鈕容器樣式 */
.buttonContainer {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
}

/* 按鈕樣式 */
.foundButton,
.endButton {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #8b5a2b;
    color: white;
    border: none;
    border-radius: 10px;
    /* 圓角 */
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    /* 陰影 */
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.endButton:hover {
    background-color: #a07246;
    /* 懸停變色 */
    transform: scale(1.05);
    /* 懸停放大效果 */
}

@media (max-width: 768px) {
    .endButton {
        font-size: 14px;
        padding: 8px 16px;
    }
}

@media (max-width: 480px) {
    .endButton {
        font-size: 12px;
        padding: 6px 12px;
    }
}

/* 隱藏背景圖片 */
.hideBackground {
    background-image: none !important;
}