/* 全局變數 */
$primary-color: #8b5a2b;
$hover-color: #a07246;
$font-family: "Comic Sans MS", cursive, sans-serif;
$button-padding: 1.3vh 2.6vh;
$button-font-size: 1.3vw;
$button-border-radius: 0.5vw;
$box-shadow: 0 0.4vw 0.8vw rgba(0, 0, 0, 0.2);

/* 基本容器樣式 */
.container1 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;
  background: none;
  color: #fff;
  text-align: center;
  font-family: $font-family;
}

/* 按鈕容器樣式 */
.buttonContainer {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
  justify-content: center;
}

/* 按鈕基本樣式 */
.button {
  padding: $button-padding;
  font-size: $button-font-size;
  background-color: $primary-color;
  color: white;
  border: none;
  border-radius: $button-border-radius;
  cursor: pointer;
  box-shadow: $box-shadow;
  transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
  line-height: 1.5;
  text-align: center;
  margin-top: 0.5rem;

  &:hover {
    background-color: $hover-color;
    transform: scale(1.05);
    box-shadow: 0 0.6vw 1.2vw rgba(0, 0, 0, 0.3);  // 提升按鈕懸停時的陰影效果
  }

  &:active {
    transform: scale(0.98);  // 按壓時的反饋效果
    box-shadow: none;  // 移除按壓時的陰影
  }
}

.centered-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

/* 具體按鈕樣式 */
.foundButton,
.endButton {
  @extend .button;
}

.endButton {
  background-color: darkred;
  &:hover {
    background-color: firebrick;
  }
}

/* QR掃描按鈕樣式 */
.qr-scan-button {
  padding: 1vh 2vw;
  font-size: 1.5vw;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 1vw;
  cursor: pointer;
  box-shadow: 0 0.3vw 0.6vw rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s;

  &:hover {
    background-color: #0056b3;
    transform: scale(1.05);
    box-shadow: 0 0.6vw 1.2vw rgba(0, 0, 0, 0.3);
  }

  &:active {
    transform: scale(0.95);
    box-shadow: none;
  }
}

/* 媒體查詢：適應平板設備 */
@media (max-width: 768px) {
  .button {
    font-size: 2.6vw;
    padding: 2vw 4vw;
    border-radius: 1vw;
  }
}

/* 媒體查詢：適應手機設備 */
@media (max-width: 480px) {
  .button {
    font-size: 3vw;
    padding: 2.5vw 5vw;
    border-radius: 1.5vw;
  }

  .qr-scan-button {
    font-size: 3.5vw;
    padding: 3vw 6vw;
  }
}

/* 隱藏背景樣式 */
.hideBackground {
  background-image: none !important;
}

/* QR按鈕容器樣式 */
.qr-button-container {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1000;  // 確保按鈕位於頁面最上層
}
