.container2 {
    background-image: url('../../assets/picture/BG/背景-活動中心.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 105vw;
    height: 105vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
}

.content2 {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.assemblyImage2 {
    width: 50vw;
    max-width: 1000px;
    height: auto;
    margin-bottom: 20px;
    border: 0.5vw solid #8b5a2b;
    border-radius: 1.5vw;
    box-shadow: 0 0.4vw 0.8vw rgba(0, 0, 0, 0.2);
}

.finishButton2,
.assembleButton2,
.endButton2 {
    width: 22vw;
    height: 17vh;
    font-size: 2vw;
    font-weight: bold;
    background-color: #8b5a2b;
    color: white;
    border: none;
    border-radius: 1.5vh;
    cursor: pointer;
    text-align: center;
    box-shadow: 0 0.4vh 0.8vh rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease, transform 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 2vh;
    line-height: 1.5;
}

.finishButton2:hover,
.assembleButton2:hover,
.endButton2:hover {
    background-color: #a07246;
    transform: scale(1.05);
}

.assembleButton2::before,
.finishButton2::before,
.endButton2::before {
    content: '🔧';
    margin-right: 1vw;
}

.finishButton2::before {
    content: '✔️';
}

.endButton2::before {
    content: '📸';
}

@media (max-width: 1024px) {
    .assemblyImage2 {
        width: 60vw;
    }

    .finishButton2,
    .assembleButton2,
    .endButton2 {
        width: 30vw;
        height: 15vh;
        font-size: 2.5vw;
    }
}

@media (max-width: 768px) {
    .assemblyImage2 {
        width: 70vw;
    }

    .finishButton2,
    .assembleButton2,
    .endButton2 {
        width: 35vw;
        height: 15vh;
        font-size: 3vw;
    }
}

@media (max-width: 480px) {
    .assemblyImage2 {
        width: 90vw;
        margin-bottom: 10px;
    }

    .finishButton2,
    .assembleButton2,
    .endButton2 {
        width: 40vw;
        height: 20vh;
        font-size: 4vw;
    }
}