.container2 {
    background-image: url('../../assets/picture/BG/背景-活動中心.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    font-family: 'Comic Sans MS', cursive, sans-serif;
}

.content2 {
    text-align: center;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.assemblyImage2 {
    width: 30%;
    max-width: 600px;
    height: auto;
    margin-bottom: 20px;
    border: 5px solid #8b5a2b;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.finishButton2,
.assembleButton2,
.endButton2 {
    width: 10rem;
    height: 5rem;
    font-size: 1.5rem;
    font-weight: bold;
    background-color: #8b5a2b;
    color: white;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease, transform 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
}

.finishButton2:hover,
.assembleButton2:hover,
.endButton2:hover {
    background-color: #a07246;
    transform: scale(1.05);
}

.assembleButton2::before,
.finishButton2::before,
.endButton2::before {
    content: '🔧';
    margin-right: 10px;
}

.finishButton2::before {
    content: '✔️';
}

.endButton2::before {
    content: '📸';
}

@media (max-width: 768px) {
    .assemblyImage2 {
        width: 70%;
    }

    .finishButton2,
    .assembleButton2,
    .endButton2 {
        font-size: 14px;
        padding: 8px 16px;
        width: 8rem;
        /* 調整按鈕寬度 */
        height: 4rem;
        /* 調整按鈕高度 */
    }
}

@media (max-width: 480px) {
    .assemblyImage2 {
        width: 90%;
    }

    .finishButton2,
    .assembleButton2,
    .endButton2 {
        font-size: 12px;
        padding: 6px 12px;
        width: 6rem;
        /* 調整按鈕寬度 */
        height: 3rem;
        /* 調整按鈕高度 */
    }
}