:root {
  /* 基本色彩和字體設定 */
  --font-family: "Comic Sans MS", "Comic Sans", "Chocolate Classical Sans";
  --bg-gradient-start: #7892c2;
  --bg-gradient-end: #476e9e;
  --border-color: #4e6096;
  --shadow-color: rgba(159, 180, 242, 0.5); /* 半透明陰影，提升層次感 */
  --text-color: #ffffff;
  --highlight-color: #3da35d;
  --highlight-hover-color: #329547; /* 更鮮明的按鈕懸停顏色 */
  --border-radius: 10px;
  --font-size-lg: 18px;
  --font-size-md: 16px;
  --font-size-sm: 14px;
  --font-size-xs: 12px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-family);
}

html, body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-image: linear-gradient(
      to bottom,
      var(--bg-gradient-start),
      var(--bg-gradient-end)
    ),
    url(./assets/picture/BG/背景-活動中心.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

/* 通用容器樣式 */
.container, .centered-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  width: 100%;
  height: 100%;
}

/* 圖片樣式 */
.centered-image {
  max-width: 90%;
  height: auto;
  object-fit: contain; /* 確保圖片比例不變 */
  border: 2px solid #fff;
  border-radius: 2%;
  box-shadow: 0 10px 20px var(--shadow-color);
}

.button, .startButton {
  background-image: url(./assets/picture/按鈕-遊戲開始.png); /* Adjust path as necessary */
  background-size: cover;
  border: none;
  height: 50px; /* Adjust size as necessary */
  width: 200px; /* Adjust size as necessary */
}
.intro-container {
  background-color: rgba(255, 255, 255, 0.8); /* Semi-transparent white background */
  color: black; /* Ensures text color is readable */
  padding: 10px;
  border-radius: var(--border-radius);
  overflow-y: auto; /* Allows scrolling */
  max-height: 80vh; /* Adjust based on your design preference */
}
.centered-container {
  padding: 20px; /* Adds padding around the content */
}

.button:hover, .startButton:hover, .intro-container button:hover {
  background-color: var(--highlight-hover-color);
  transform: scale(1.05);
  box-shadow: 0 10px 20px var(--shadow-color);
}

/* 媒體查詢：適應不同設備 */
@media screen and (max-width: 1024px) {
  .startButton, .intro-container {
    width: 80vw;
    height: auto;
    font-size: var(--font-size-sm);
  }

  .centered-image {
    max-width: 80%;
  }
}

@media screen and (max-width: 768px) {

  .startButton {
    width: 150px; /* Smaller button on smaller screens */
    height: 40px;
  }
  .intro-container {
    padding: 5px;
    font-size: var(--font-size-xs);
  }

  .centered-image {
    max-width: 70%;
  }
}
