/* 基本样式设定 index.scss */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Chocolate Classical Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
}

html,
body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow: hidden;

}



.special-message {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 20px;
  background-color: green;
  color: white;
  z-index: 999;
  display: flex;
  /* 使用 flex 居中内容 */
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 1.2rem;
  /* 文本居中 */
}

body {
  background-image: url(./assets/picture/BG/背景-活動中心.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
}

/* 通用容器样式 */
.container,
.centered-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  width: 100%;
  height: 100%;
}

.dialog {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  position: relative;
}

.centered-image {
  width: 100%;
  /* 调整图片宽度以适应不同屏幕 */
  height: auto;
  /* 保持图片比例 */
  object-fit: cover;
}

.foundButton {
  width: 20vw;
  height: 15vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  padding: 0;
  background: none;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: transform 0.2s;
}

.foundButton img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  /* 为按钮图像添加圆角 */
}

.foundButton:active {
  transform: translate(-50%, -50%) scale(0.95);
}

/* 为前言内容添加样式 */
.intro-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.9);
  /* 增加不透明度 */
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  /* 添加阴影效果 */
  font-size: 1.2rem;
}

.intro-container p {
  margin-bottom: 20px;
  line-height: 1.5;
  /* 增加行高以提高可读性 */
}

.intro-container button {
  padding: 10px 20px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.intro-container button:hover {
  background-color: #45a049;
}

/* 媒体查询 */
@media screen and (max-width: 768px) {
  .foundButton {
    width: 40vw;
    height: 20vh;
  }

  .centered-image {
    width: 100%;
    /* 在小屏幕上增加图片宽度 */
  }
}

/* 为确保竖屏模式下显示正常 */
@media screen and (orientation: portrait) {

  html,
  body {
    transform: none;
    width: 100%;
    height: 100%;
  }
}