.container3 {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 3vw;
    background-image: url('../../assets/picture/BG/背景-防空洞.png');
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100vw;
    font-family: 'Comic Sans MS', cursive, sans-serif;
}

.content3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 90%;
    margin: 0 auto;
    color: #fff;
    font-weight: bold;

    .text3 {
        margin-bottom: 1.5vw;
        font-size: 3vw;
        color: whitesmoke;
        text-shadow: 0.2vw 0.2vw 0.4vw rgba(0, 0, 0, 0.5);

    }

    .button3 {
        padding: 2vh 4vh;
        font-size: 2.5vh;
        background-color: #8b5a2b;
        color: white;
        border: none;
        border-radius: 1.5vh;
        cursor: pointer;
        margin-top: 3vh;
        transition: background-color 0.3s ease, transform 0.3s ease;
        box-shadow: 0 0.4vh 0.8vh rgba(0, 0, 0, 0.2);

        &:hover {
            background-color: #a07246;
            transform: scale(1.1);
        }
    }

    .endButton3,
    .finalButton3 {
        margin-top: 4vh;
    }

    .input3 {
        padding: 2vh;
        font-size: 2vh;
        width: 100%;
        max-width: 60vw;
        margin-bottom: 2vh;
        border: 1px solid #ccc;
        border-radius: 0.5vh;
        box-shadow: 0 0.2vh 0.4vh rgba(0, 0, 0, 0.2);

    }
}

.alert-toggle {
    color: #fff;
    background-color: #a07246;
    /* 背景色 */
    padding: 0.5em 1em;
    /* 使用内边距控制大小 */
    min-width: 50px;
    /* 最小宽度，保证小屏幕可用性 */
    min-height: 30px;
    /* 最小高度 */
    border-radius: 10px;
    /* 圆角 */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
    /* 添加阴影提高立体感 */
    cursor: pointer;
    /* 显示为可点击 */
    transition: background-color 0.3s, transform 0.3s;
    /* 过渡效果 */

    /* 增加悬停效果 */
    &:hover {
        background-color: #b5835a;
        /* 悬停时颜色变深 */
        transform: scale(1.1);
        /* 稍微放大 */
    }

    /* 响应式调整，适应极小屏幕 */
    @media (max-width: 480px) {
        padding: 0.75em 1.5em;
        /* 在小屏幕上增大内边距 */
        font-size: 90%;
        /* 调整字体大小 */
    }
}

@media screen and (max-width: 768px) {
    .content3 .text3 {
        font-size: 5vw;
    }

    .content3 .input3 {
        font-size: 3vw;
    }

    .content3 .button3 {
        font-size: 3vw;
        padding: 3vw 6vw;
    }
}