/* 全局變數 */
$primary-color: #8b5a2b;
$hover-color: #a07246;
$button-shadow: 0 0.4vh 0.8vh rgba(0, 0, 0, 0.2);
$text-shadow: 0.2vw 0.2vw 0.4vw rgba(0, 0, 0, 0.7);
$background-color: rgba(0, 0, 0, 0.6);
$border-radius-large: 1vw;
$border-radius-small: 1.5vh;

/* 基本容器樣式 */
.container3 {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 3vw;
    background: url('../../assets/picture/BG/背景-防空洞.png') center/cover no-repeat;
    height: 105vh;
    width: 105vw;
}

/* 內容區域樣式 */
.content3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 90%;
    margin: 0 auto;
    color: #fff;
    font-weight: bold;
    overflow-y: auto;
    padding: 2vh;
    background-color: $background-color;
    border-radius: $border-radius-large;
}

/* 文字樣式 */
.text3 {
    margin-bottom: 2vh;
    font-size: 3vw;
    color: #f5f5f5;
    text-shadow: $text-shadow;
    line-height: 1.5;
}

/* 按鈕基本樣式 */
.button3 {
    padding: 2vh 4vh;
    font-size: 2.5vh;
    background-color: $primary-color;
    color: white;
    border: none;
    border-radius: $border-radius-small;
    cursor: pointer;
    margin-top: 3vh;
    transition: background-color 0.3s ease, transform 0.3s ease;
    box-shadow: $button-shadow;

    &:hover {
        background-color: $hover-color;
        transform: scale(1.1);
    }
}

/* 特殊按鈕樣式 */
.endButton3,
.finalButton3 {
    margin-top: 4vh;
}

/* 輸入框樣式 */
.input3 {
    padding: 2vh;
    font-size: 2vh;
    width: 100%;
    max-width: 60vw;
    margin-bottom: 2vh;
    border: 1px solid #ccc;
    border-radius: 0.5vh;
    box-shadow: 0 0.2vh 0.4vh rgba(0, 0, 0, 0.2);
}

/* 警告切換按鈕樣式 */
.alert-toggle {
    color: #fff;
    background-color: $hover-color;
    padding: 0.5em 1em;
    min-width: 50px;
    min-height: 30px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;

    &:hover {
        background-color: #b5835a;
        transform: scale(1.1);
    }
}

/* 平板設備樣式 */
@media (max-width: 1024px) {
    .text3 {
        font-size: 4vw;
    }

    .input3 {
        font-size: 2.5vw;
    }

    .button3 {
        font-size: 2.5vw;
        padding: 3vh 5vh;
    }
}

/* 手機設備樣式 */
@media (max-width: 768px) {
    .text3 {
        font-size: 5vw;
    }

    .input3 {
        font-size: 3vw;
    }

    .button3 {
        font-size: 3vw;
        padding: 3vh 6vh;
    }
}

/* 小手機設備樣式 */
@media (max-width: 480px) {
    .text3 {
        font-size: 6vw;
    }

    .input3 {
        font-size: 4vw;
    }

    .button3 {
        font-size: 4vw;
        padding: 4vh 8vh;
    }
}